name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: Enenkel/buildozer-action@v0.0.1
        with:
          buildozer_version: master
          python_version: 3.11
